[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RCSL"]
	path = RCSL
	url = https://github.com/qinglinmei/rcsl
	shallow = true
	registered = true
